<!DOCTYPE html>
<html>
<head>
  <title>Cashbox hoa</title>
  <%= stylesheet_link_tag    "cashbox/hoa/application", media: "all" %>
  <%= javascript_include_tag "cashbox/hoa/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
